 .left_menu .btn .text_menu {
     display: none;

 }

 .left_menu .btn a {
     text-decoration: none;
     display: flex;
     justify-content: space-around;
 }


 .left_menu .btn {
     width: 70px;
     height: 70px;
     background: #F5FAFF;
     box-shadow: 0px 0px 30px rgba(86, 86, 86, 0.25);
     border-radius: 50%;
     cursor: pointer;
     display: inline-grid;
     justify-content: center;
     align-items: center;
 }



 .left_menu {
     width: 70px;
     display: grid;
     grid-template-columns: 1fr;
     row-gap: 50px;
     left: 50px;
     top: 220px;
     position: fixed;
     z-index: 2;
 }

 .left_menu .btn:hover svg path {
     fill: #64D370;
 }

 .left_menu .btn:hover {
     width: 188px;
     border-radius: 190px;
     transition: 0.8s;
     padding-left: 35px;

 }

 .left_menu .btn:hover .text_menu {
     font-family: 'Comfortaa';
     font-weight: 700;
     font-size: 25px;
     line-height: 100%;
     letter-spacing: 0.025em;
     color: #64D370;
     display: flex;
     justify-content: space-between;
     width: 135px;
     padding-left: 40px;
     margin: auto 0;
 }

 @media screen and (max-width: 1300px) {
     .left_menu {
         row-gap: 10px;
         left: 39px;
         top: 150px;
     }
 }

 @media screen and (max-width: 768px) {
     .left_menu .btn {
         width: 40px;
         height: 40px;
     }

     .left_menu .btn svg {
         width: 20px;
         height: 20px;
     }

     .left_menu .btn:hover .text_menu {
         font-size: 14px;
         padding-left: 20px;
     }

     .left_menu .btn:hover {
         width: 120px;
     }

 }

 @media screen and (max-width: 575px) {
     .left_menu {
         display: none;
     }
 }

 @media (max-height: 900px) {
     .left_menu {
         top: 200px;
     }
 }

 @media (max-height: 880px) {
     .left_menu {
         top: 170px;
     }
 }

 @media (max-height: 795px) {
     .left_menu {
         row-gap: 30px;
     }
 }

 @media (max-height: 750px) {
     .left_menu {
         top: 130px;
     }
 }